h1{
    font-size: 50px;    /* para el tamaño de fuente */
    font-family: serif;  /* tipo de fuente */
    font-weight: bold;  /* pesos o grueso de los titulos */
}

h2{
    font: bold 14 px   sans-serif;  /* todo en uno */
}

body{
    text-align: center; /* alineacion de textos o centra el texto*/
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px;  /* ancho de la pagina */
    background:url("../img/fondo.jpg"); /* fondo de la pagina */
    margin: 25px auto;  /* margenes automaticos o con pixeles, margen espacio hacia afuera*/
    padding: 40px;  /* relleno, espacio que vas hacia adentro */    
}

header{
    background-color: cyan;   /* color de fondo en el header */
}

.cabezera{
    background:linear-gradient(#7a0f21,rgb(201, 80, 171));
    background-color:salmon; /* fondo de la pagina */
    border: 1px solid black;
    
}

.cabezera h1{
    background:linear-gradient(#7a0f21,rgb(201, 80, 171));
    text-align: left;
    padding: 20px;

}

.menu{
    background:linear-gradient(rgb(201, 80, 171),#7a0f21);
    padding: 5px 15px;  /* (arriba y abajo && izquierda y derecha) */
    text-align: left;   /* alineacion izquierda */
    border: 1px solid black;
}

.menu li{   /* todos los elementos li dentro la clase menu cambian */
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    /* border: 1px solid black; */  /* bordes para el elemento */
    display: inline-block;  /* alineacion uno al lado del otro */ 
}

.seccion{
    background-color: rgb(39, 1, 24);
    margin: 20px;
    width: 58%;   /* ancho del contenido */
    border: 1px solid rgb(153, 37, 206);
    float: left;    /* etiqueta para hacer flotar el contenido idicando la direccion */
    }

.columna{
    background-color: salmon;
    margin: 20px 0px;
    width: 36%;
    border: 1px solid rgb(34, 8, 8);
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: rgb(223, 140, 212);
    font: bold 16px times new roman;
    border: 3px solid rgb(177, 113, 113);
}

.seccion article{
    background-color: rgb(240, 182, 182);
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(241, 207, 207);
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: brown;
}
.seccion p{
    text-align: justify
}

.seccion img{
    height: 200px;
    width: 150px;
    display: block;
    margin: auto;
    padding: 3px;
}
.columna blockquote{
    height: 150px;
    width: 100px;
    border: 3px solid rgb(30, 32, 1);
    background-color:rgb(197, 140, 140);
    padding: 80px;
    font: bold 14px sans-serif;
}

